demo/src/main/resources/demo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="product">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:long" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="url-image" type="xs:string"/>
            <xs:attribute name="price" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>